.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.converter-form{
 /*  width: 100%; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.converter-input, .converter-label{
  box-sizing: border-box;
  width: 150px; 
  height: 50px;
  margin: 5px;
  padding-left: 15px; 
  
}

.converter-input{
  background-color: white;
  
    
}

.converter-label{  
  background-color:rgb(3, 3, 77);
  color: white;
  padding-top: 10px;
}